

<mat-nav-list>
  <a href="https://keep.google.com/" mat-list-item (click)="openLink($event)">
    <span matListItemTitle>Send to Pre-Hoist Bay 2</span>
    <span matLine></span>
  </a>

  <a href="https://docs.google.com/" mat-list-item (click)="openLink($event)">
    <span matListItemTitle>Send to Hoist</span>
    <span matLine></span>
  </a>

  <a href="https://plus.google.com/" mat-list-item (click)="openLink($event)">
    <span matListItemTitle>Send to PRE-LINE</span>
    <span matLine></span>
  </a>

  <a href="https://hangouts.google.com/" mat-list-item (click)="openLink($event)">
    <span matListItemTitle>Send to Online</span>
    <span matLine></span>
  </a>
</mat-nav-list>
