<div class="row">
  <div class="col-sm-3">
    <mat-card>
      <mat-card-header>
        <mat-card-title>UNDER SEAL</mat-card-title>
      </mat-card-header>
      <mat-card-actions>
        <section>
          <div>
            <mat-checkbox>ET</mat-checkbox>
          </div>
          <div>
            <mat-checkbox>PT</mat-checkbox
            >
          </div>
          <div>
            <mat-checkbox>GT</mat-checkbox>
          </div>
          <div>
            <mat-checkbox>REWORK</mat-checkbox>
          </div>
        </section>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-sm-3">
    <mat-card>
      <mat-card-header>
        <mat-card-title>PAINT</mat-card-title>
      </mat-card-header>
      <mat-card-actions>
        <section>
          <div>
            <mat-checkbox>CLEAN</mat-checkbox>
          </div>
          <div>
            <mat-checkbox>W. ALIGN</mat-checkbox
            >
          </div>
          <div>
            <mat-checkbox>FINAL QA.</mat-checkbox>
          </div>
          <div>
            <mat-checkbox>F. REWORK</mat-checkbox>
          </div>
        </section>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
