table {
  width: 100%;
  border-spacing: 5px 0;
  border-collapse: initial;


}

td {
  border-right: 3px solid ;
  border-right-color: #9ca7ab;

/* ;  Remove this line to disable grey background color */

  border-left: 1px solid ;
  border-left-color: #9ca7ab;
}


.mat-card-responsive {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table-container {
  width: 100%;
  overflow-x: auto;
}

.mat-elevation-z8 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 600px) {
  .table-container {
    overflow-x: scroll;
  }
}
